{{>header}}

<form method="POST" action="/user/create" id="form">
    <fieldset>
        <legend>{{#title}}{{title}}{{/title}}</legend>

        <input type="text" name="username" placeholder="username" title="username"/>
        <label for="username">username</label><br/>

        <input type="password" name="password" placeholder="password " title="password"/>
        <label for="password">Password</label><br/>

        <input type="text" name="firstname" placeholder="firstname" title="first name"/>
        <label for="firstname">Maiden name</label><br/>

        <input type="text" name="lastname" placeholder="surname" title="last name"/>
        <label for="lastname">Family name</label><br/>

        <input type="submit" name="submit" id="userButton" value="Create user"><br/>
    </fieldset>
</form>

{{>footer}}